/* =reset
******************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =global
******************************************************************/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, #container {
	height: 100%;
    background: #0088cc;
    background: -webkit-linear-gradient(top,  #000000 0%, #0088cc 100%);
    background: -moz-linear-gradient(top,  #000000 0%, #0088cc 100%);
    background: -o-linear-gradient(top,  #000000 0%, #0088cc 100%);
    background: -ms-linear-gradient(top,  #000000 0%, #0088cc 100%);
    background: linear-gradient(top,  #000000 0%, #0088cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0088cc',GradientType=0 );
    font-size: 16px;
    overflow: hidden;
}

body > #container {
	height: auto;
	min-height: 100%;
}

.whiteOut {
    background-color: #fff !important;
    color: #fff !important;
}

#container {
	width: 960px;
	margin: 0 auto;
}

h1 {
	color: #fff;
	font-size: 5em; /* 80px / 16px */
	font-family: "Share","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 3px 3px #111;
}

a, a:visited {
	color: #0088cc;
	text-decoration: none;
    cursor: pointer;
}

a:hover {
	text-decoration: underline;
    cursor: pointer;
}

a:active {
	color: #9b0082;
	text-decoration: none;
}

a:hover, a:active {
	outline: 0;
}

b, strong {
	font-weight: bold;
}

p {
	color: #fff;
	font-size: 0.875em; /* 14px / 16px */
	line-height: 1.125em; /* 18px / 16px */
	font-family: Cambria, Georgia, Times, serif;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

::-moz-selection {
	background: #9b0082;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #9b0082;
	color: #fff;
	text-shadow: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

td {
	vertical-align: top;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

/* =structure
******************************************************************/
#starryNight {
	position: absolute;
	top: 0;
	width: 100%;
	height: 300px;
    z-index: -1;
	background: transparent;
    background-image:
    -webkit-gradient(radial, 50% 50%, 36, 50% 50%, 40,from(rgba(150, 111, 195, 0.2)), color-stop(0.3, rgba(150, 111, 195, 0.3)),  to(transparent)),
    -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(224, 124, 203, 0.1)), color-stop(0.2, rgba(224, 124, 203, 0.2)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(224, 124, 203, 0.1)), color-stop(0.2, rgba(224, 124, 203, 0.2)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 38, 50% 50%, 46, from(rgba(145, 75, 113, 0.3)), color-stop(0.3, rgba(145, 75, 113, 0.2)),  to(transparent)),
    -webkit-gradient(radial, 50% 50%, 20, 50% 50%, 80, from(rgba(145, 75, 113, 0)), color-stop(0.3, rgba(145, 75, 113, 0.2)),  to(transparent)),
    -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 90, from(rgba(145, 75, 113, 0)), color-stop(0.5, rgba(145, 75, 113, 0.2)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 50, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 26, 50% 50%, 30, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 36, 50% 50%, 40, from(rgba(37, 85, 79, 0.3)), color-stop(0.2, rgba(37,85,79, 0.2)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 50, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.1)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.2)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 26, 50% 50%, 30, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.2)), to(transparent)),
    -webkit-gradient(radial, 50% 50%, 36, 50% 50%, 40, from(rgba(114, 209, 244, 0.2)), color-stop(0.2, rgba(114, 209, 244, 0.3)), to(transparent))
;
    background-image:
    -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
    -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
    -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
    -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
    -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
    -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
    -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
    -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
    -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
    background-image:
    -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
    -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
    -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
    -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
    -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
    -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
    -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
    -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
    -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
    background-image:
    -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
    -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
    -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
    -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
    -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
    -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
    -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
    -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
    -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
    background-image:
    radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
    radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
    radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
    radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
    radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
    radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
    radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
    radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
    radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
    -webkit-background-size: 300px 300px;
    -moz-background-size: 300px 300px;
    background-size: 300px 300px;
    background-position: 5% -75px, -20% -70px, 25% -40px, 55% -50px, -55% -80px, 200% -100px, -50% -60px, -60% -20px, -80px -80px, -160px -30px, 20px -30px, 130px -60px, 180px -40px, 180px 0px;
}

#nav {
    width: 100%;
    padding-top: 200px;
    text-align: center;
    opacity: 0;
}

#nav li {
    display: inline;
    float: left;
    width: 20%;
}

#nav a {
    font-size: 1.125em; /* 18px / 16px */
    font-family: "Share","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

#nav a:hover, #nav a:focus {
    color: rgba(255, 255, 255, 1);
}

#nav img {
    width: 5em;
    margin-bottom: 20px;
    display: inline;
    opacity: 0.6;
}

#nav img.shake-left:hover {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#nav img.shake-right:hover {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;

}

.fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    animation-name: fadeOut;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    cursor: default;
}

.fadeOut a {
    cursor: default;
}

@-moz-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@keyframes fadeIn {
 from {
   	opacity: 0;
 }
 to {
   	opacity: 1;
 }

}

@-moz-keyframes fadeOut {
 from {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 to {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-webkit-keyframes fadeOut {
 from {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 to {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@keyframes fadeOut {
 from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }
 to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }

}

.tiny {
	color: #fff;
	font-size: 0.625em; /* 10px / 16px */
	line-height: 18px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

#footer {
	position: relative;
	background: url('../images/img-phillyFooter.png') bottom center no-repeat;
	margin-top: -230px; /* negative value of footer height */
	height: 230px;
	clear: both;
    z-index: 2;
}

#belowFooter {
    position: absolute;
    display: none;
    width: 100%;
    height: 100px;
    bottom: -100px;
    background-color: #000;
    text-align: center;
    border: 1px solid green;
}

#quickLinks {
	position: absolute;
	bottom: 0;
	left: 15px;
	cursor: pointer;
}

#copyright {
	position: absolute;
	bottom: 0;
	right: 15px;
}

div.bottombar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000;
    height: 16px;
    z-index: -1;
}

/* =subPages
******************************************************************/
#about {
    position: absolute;
    left: 2000px;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    border: 1px dotted red;
}

#work {
    position: absolute;
    left: 4000px;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    border: 1px dotted red;
}

#blog {
    position: absolute;
    left: 6000px;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    border: 1px dotted red;
}

#contact {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #000;
    border: 1px dotted red;
}

.content {
    margin: 0 auto;
    min-width: 960px;
    width: 960px;
    border: 1px solid green;
}

.content {
    margin: 0 auto;
    min-width: 960px;
    width: 960px;
}

/* =clearFixes
******************************************************************/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block
}

/* =printStyles
******************************************************************/
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}