.pulse {
  -webkit-animation: pulse 3s infinite ease-out;
  -moz-animation: pulse 3s infinite ease-out;
  animation: pulse 3s infinite ease-out;
}

@-webkit-keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

@-moz-keyframes pulse {
  0% {opacity: 0.4;}
  50% {opacity: 0.8;}
  100% {opacity: 0.4;}
}

@keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

.fade {
  @include opacity(0);
  @include transition(opacity 0.15s linear);
  &.in {
    @include opacity(100);
  }
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(height 0.35s ease);
  &.in {
    height: auto;
  }
}