.pulse {
  -webkit-animation: pulse 3s infinite ease-out;
  -moz-animation: pulse 3s infinite ease-out;
  animation: pulse 3s infinite ease-out;
}

@-webkit-keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

@-moz-keyframes pulse {
  0% {opacity: 0.4;}
  50% {opacity: 0.8;}
  100% {opacity: 0.4;}
}

@keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}