html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  overflow-x: hidden;
  font: 18px/1.5em $font-CallunaReg, serif;
  color: $gray;
}

ul, li, p, img, h1, h2, h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}

a {
  @include transition(color 0.2s ease-out);
  &:link, &:visited {
    color: $blue;
    text-decoration: none;
  }
  &:hover, &:active {
    color: $blueDark;
    text-decoration: underline;
  }
  &.no-decoration {
    text-decoration: none;
  }
  &.header-link {
    color: $white;
  }
  @include breakpoint(smaller) {
    word-wrap: break-word;
  }
}

p {
  margin-bottom: $space;
  line-height: 1.8;
  &.lead-font {
    margin-bottom: $space/2;
  }
}

img, video {
  max-width: 98%;
  border: 2px solid;
  @include box-shadow(0 8px 10px -6px $black);
  @include breakpoint(smallest) {
    width: 90%;
  }
  &.highlight {
    &.left {
      margin: $space/2 $space $space 0;
    }
    &.right {
      margin: $space/2 0 $space $space;
    }
  }
}

.logo {
  position: absolute;
  top: 36px;
  left: 0;
  width: 57.5px;
  @include transition(all 0.5s ease-in-out);
}

footer {
  position: relative;
  clear: both;
  margin-bottom: 0 !important;
  margin-top: -30px !important;
  height: $space*1.5;
}

::selection {
  background: $blue;
  color: $white;
}

::-moz-selection {
  background: $blue;
  color: $white;
}