body {
  background-color: $white;
  overflow-x: hidden;
  font: normal 125%/1.4 $font-Calluna, serif;
  color: $gray;
}

.logo {
  float: left;
  width: 115px;
  @include transition(all 0.5s ease-in-out);
}

::selection {
  background: $blue;
  color: $white;
}

::-moz-selection {
  background: $blue;
  color: $white;
}