.btn {
  display: inline-block;
  padding: 4px $space/2 4px;
  margin-bottom: 0;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  *line-height: $space;
  color: $white;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  vertical-align: middle;
  cursor: pointer;
  border: 1px dashed $blue;
  @include border-radius(0 4px 4px 0);
}

.btn:hover {
  color: $blueDark;
  text-decoration: none;
}

.btn.active,
.btn:active {
  background-color: $blueDark;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: darken($white, 10%);
  background-image: none;
  @include opacity(65);
  @include box-shadow(none);
}

.btn-large {
  padding: 9px 14px;
  font-size: $baseFontSize + 2px;
  line-height: normal;
  @include border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 2px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 4px;
}

.btn-primary,
.btn-primary:hover {
  color: $white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.btn-primary.active {
  color: rgba(255,255,255,.75);
}

.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

button.btn,
input[type="submit"].btn {

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  *padding-top: 2px;
  *padding-bottom: 2px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}