code, pre {
  padding: 0 3px 2px;
  @include font-family-monospace;
  font-size: 90%;
}

code {
  color: $purple;
}

pre {
  display: block;
  padding: ($baseLineHeight - 1) / 2;
  margin: 0 0 $baseLineHeight / 2;
  font-size: 90%;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0, 0, 0, 0.15);

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  background: url('../../images/bg.png') repeat;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  color: $white;
  @include box-shadow(0 8px 10px -6px black);
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  background: url('../../images/bg.png') repeat;
  color: $gray;
}

.token.punctuation {
  color: $white;
}

.namespace {
  opacity: 0.7;
}

.token.tag, .token.boolean, .token.number {
  color: #59A9F7;
}

.token.selector, .token.url, .token.attr-name, .token.string, .style .token.string, .language-css .token.string, {
  color: #99FF99;
}

.token.property, .token.operator, .token.entity {
  color: #FEBF18;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #0099FF;
}

.token.regex, .token.important {
  color: #FF0000;
}

.token.important {
  font-weight: bold;
}