[class*='grid-'] {
  max-width: 1024px;
}

.grid-2 {
  margin: 0 auto $space;
  width: flex-grid(2); // 16.875%
}

.grid-3 {
  margin: 0 auto $space;
  width: flex-grid(3); // 25.3125%
}

.grid-4 {
  margin: 0 auto $space;
  width: flex-grid(4); // 33.75%
}

.grid-5 {
  margin: 0 auto $space;
  width: flex-grid(5); // 42.1875%
}

.grid-6 {
  margin: 0 auto $space;
  width: flex-grid(6); // 50.625%
}

.grid-7 {
  margin: 0 auto $space;
  width: flex-grid(7); // 59.0625%
}

.grid-8 {
  overflow:hidden;
  margin: 0 auto;
  width: flex-grid(8); // 67.5%
}

.grid-9 {
  margin: 0 auto;
  width: flex-grid(9); // 75.9375%
}

.grid-10 {
  margin: 0 auto;
  width: flex-grid(10); // 84.375%
}

.grid-blog {
  margin-left: 6%;
  width: flex-grid(8); // 67.5%
}

.wrapper {
  clear: both;
  margin: 0;
  width: flex-grid(12);
  min-height: 100%;
  height: auto;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 90;
  width: 100%;
  height: 150px;
  background: url('/images/headerBackground.png') repeat-x 0px 0px;
}

#header.scroll {
  background-position: 0px -163px;
}

#hdr_inner {
  position: relative;
  margin: auto;
  max-width: 1024px;
  height: 150px;
}

#hdr_inner .links {
  display: inline-block;
  width: 100%;
  height: 23px;
  margin-top: 1px;
  text-align: right;
}

.nav-link {
  margin-right: 5%;
}

.main-content {
  padding-bottom: 15px;
}

.search-box {
  position: absolute;
  top: 48px;
  right: 0;
  width: 50%;
  text-align: right;
}

.attribute {
  float: left;
  padding: 0;
}

.twitter-button, .blog-category {
  float: right;
}

.continue-reading {
  float: right;
  padding: $space/4 0 $space/2;
}

#post-area {
  float: left;
}

#sidebar {
  float: right;
  margin: $space/2 6% 0;
  text-align: right;
}

.side-widget {
  display: inline;
  float: right;
  width: auto;
  padding-top: 15px;
  margin-bottom: $space;
}

.side-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
}

.side-widget ul li {
  float: right;
  display: block;
  margin: 0;
  padding: 0;
  width: 180px;
}

.amazon-image-wrapper {
  display: inline;
  float: left;
  width: 50%;
}