[class*='grid-'] {
  max-width: 1024px;
}

.grid-2 {
  margin: 0 auto $space;
  width: flex-grid(2); // 16.875%
}

.grid-3 {
  margin: 0 auto $space;
  width: flex-grid(3); // 25.3125%
}

.grid-4 {
  margin: 0 auto $space;
  width: flex-grid(4); // 33.75%
}

.grid-5 {
  margin: 0 auto $space;
  width: flex-grid(5); // 42.1875%
}

.grid-6 {
  margin: 0 auto $space;
  width: flex-grid(6); // 50.625%
}

.grid-7 {
  margin: 0 auto $space;
  width: flex-grid(7); // 59.0625%
}

.grid-8 {
  overflow:hidden;
  margin: 0 auto;
  width: flex-grid(8); // 67.5%
  @include breakpoint(tall) {
    width: 98%;
  }
}

.grid-9 {
  margin: 0 auto;
  width: flex-grid(9); // 75.9375%
}

.grid-10 {
  margin: 0 auto;
  width: flex-grid(10); // 84.375%
  @include breakpoint(tall) {
    width: 98%;
  }
}

.grid-blog {
  margin-left: 6%;
  width: flex-grid(8); // 67.5%
}

.wrapper {
  clear: both;
  margin: 0;
  width: flex-grid(12);
  min-height: 100%;
  height: auto;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 90;
  width: 100%;
  height: 100px;
  background: url('/images/headerBackground.png') repeat-x 0px 0px;
}

#header.scroll {
  background-position: 0px -163px;
}

.header-inner {
  position: relative;
  max-width: 1024px;
  height: 100px;
  padding: 0 2px;
}

.header-inner .links {
  display: inline-block;
  width: 100%;
  height: 23px;
  text-align: right;
  @include breakpoint(tall) {
    text-align: center;
  }
}

.nav-primary {
  float: left;
  width: 75%;
  margin-top: 5px;
  text-align: left;
  @include breakpoint(grande) {
    width: 70%;
  }
  @include breakpoint(tall) {
    width: 98%;
    text-align: center;
  }
}

.nav-link {
  margin-right: 10%;
  &:last-child {
    margin-right: 0;
  }
  @include breakpoint(tall) {
    margin-right: 20%;
  }
}

.content-wrapper {
  margin-bottom: $space*3;
}

.hero {
  margin-bottom: $space*3;
  padding: 0 2px;
}

.main-content {
  padding: 120px 2px 0;
}

.search-box {
  width: auto;
  margin-top: 5px;
  padding: 0 2px;
  text-align: right;
  @include breakpoint(tall) {
    margin-top: 2px;
  }
}

.attribute {
  padding: 0;
}

.blog-category, .portfolio-category {
  display: block;
}

.continue-reading {
  float: right;
  padding: $space/4 0 $space/2;
}

.recently-consumed-container {
  overflow: hidden;
  margin-bottom: $space;
}

.amazon-image-wrapper {
  float: left;
  width: 50%;
  text-align: center;
  section.content > & {
    width: 100%;
    text-align: left;
  }
  @include breakpoint(tall) {
    width: 100%;
  }
}

img.amazon-product {
  float: left;
  margin: 8px $space*1.25 $space/2 0;
  body.about & {
    float: none;
  }
  body.blog &, body.archive &, body.category & {
    margin-bottom: $space*1.25;
  }
  @include breakpoint(tall) {
    width: 30%;
  }
}

.page-title {
  display: inline-block;
  width: 48.5%;
  margin-right: 1%;
  @include breakpoint(tall) {
    width: 28%;
  }
}

body.contact .page-title {
  @include breakpoint(tall) {
    width: 40%;
  }
}

.page-links {
  display: inline-block;
  width: 49%;
  text-align: right;
  & > span {
    padding: 0 $space/4;
  }
  & > a > span {
    display: inline;
    width: auto;
    padding-left: $space/4;
  }
  @include breakpoint(tall) {
    width: 68%;
  }
}

.image-main {
  padding: $space/2 0 $space;
  text-align: center;
}

.well {
  clear: both;
  @include box-sizing(border-box);
  border-radius: $space;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4) inset;
  overflow: hidden;
  &.tweets {
    margin-bottom: $space*2;
    padding: $space $space*1.5 $space;
    @include breakpoint(tall) {
      padding: $space;
    }
  }
  &.formcontainer {
    margin-bottom: $space;
    padding: $space*1.5 $space*1.5 $space;
  }
  &.blog-update {
    margin: $space*2 0;
    padding: $space*1.5 $space*1.5 $space;
  }
  &.quotes {
    margin: 0 0 $space;
    padding: $space $space*1.5 $space/2;
  }
}

.twitter-attribute {
  @include breakpoint(tall) {
    display: none;
  }
}

.twitter-button {
  @include breakpoint(tall) {
    text-align: center;
  }
}

.social-bar {
  display: table;
  padding-top: $space;
  text-align: center;
  > span {
    display: table-cell;
  }
}

.table {
  display: table;
  @include breakpoint(tall) {
    padding: 0 $space;
  }
}

.table-row {
  display: table-row;
}

.table-title {
  display: table-cell;
  padding: 0 0 $space/2 0;
}

.table-data {
  @extend .table-title;
  padding-left: $space/2;
}