form {
  width: 100%;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0 0 $space 0;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: $space/4;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: $baseLineHeight;
  padding: 4px;
  margin-bottom: 9px;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

input, textarea {
  width: 100%;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[class="textbox"]
.uneditable-input {
  color: $blue;

  &:focus {

  }
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: $inputDisabledBackground;
  border-color: #ddd;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.form-label, .form-input, .form-textarea {
  display: inline;
  float: left;
  @include breakpoint(tall) {
    float: none;
  }
}

.form-label {
  width: 18%;
}

.form-input, .form-textarea {
  width: 80%;
}