button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

fieldset {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
}

input[class="textbox"], textarea {
  color: $white;
  background-color: $gray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset;

  &:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
  }
}

.formSend {
  float: right;
  width: 82%;
}