.search-box-input {
  width: 60%;
}

.search-box-btn {
  margin: 0 0 0 -20px;
  border-color: none;
  @include border-radius(0 4px 4px 0);
}

.icon-search.icon-white {
  font-size: 16px;
}