.quick-search {
  height: 26px;
  border: 1px dotted $blue;
}

.search-box-input {
  float: left;
  width: auto;
  border: none;
  color: $blue;
  &:hover, &:active, &:focus {
    border: none;
    outline: none;
  }
}

.search-box-btn, .search-box-btn:active {
  float: right;
  margin: 0;
  border: none;
  background-color: $white;
  background-image: none;
  @include box-shadow(none);
  color: $blue;
  @include border-radius(0);
  &:hover, &:active, &:focus {
    border: none;
    outline: none;
    background-color: $white;
    color: $blueDark;
  }
}

form.gsc-search-box, .gcsc-branding {
  display: none;
}

.gsc-result-info, .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top, .cse .gsc-control-cse, .gsc-control-cse {
  padding: 0 !important;
}

.gsc-above-wrapper-area {
  border-bottom: none !important;
  padding: 0 !important;
}

.gsc-webResult .gsc-result {
  padding: $space 0 !important;
}

.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
  color: $light-gray !important;
}

.gs-title {
  height: auto !important;
  color: $blue !important;
  font: 18px/1.5em $font-UbuntuLtIt!important;
  text-decoration: none !important;
  &:hover {
    color: $blueDark !important;
    text-decoration: underline !important;
  }
}

.gsc-results .gsc-cursor-box {
  height: $baseLineHeight * 2 !important;
  margin: $baseLineHeight 0 !important;
  text-align: center !important;
}

.gsc-cursor {
  display: inline-block !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  @include box-shadow(0 1px 2px rgba(0,0,0,.05));
}

.gsc-cursor-page {
  display: inline !important;
  float: left !important;
  padding: 0 14px !important;
  margin-right: 0 !important;
  line-height: ($baseLineHeight * 2) - 2 !important;
  text-decoration: none !important;
  border: 1px solid #ddd !important;
  border-left-width: 0 !important;
  &:first-child {
    border-left-width: 1px !important;
  }
  &.gsc-cursor-current-page {
    color: $white !important;
    background-color: $blue !important;
  }
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: $blue !important;
  &:hover {
    color: $blueDark !important;
  }
}