#tweet-container {
  clear: both;
  @include box-sizing(border-box);
  border-radius: $space;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4) inset;
  margin-bottom: $space*3;
  padding: $space $space*1.5 $space;
  overflow: hidden;
}

.tweet {
  display: inline;
  float: left;
  width: 88%;
  margin: 0 auto $space/2;
  font-family: $font-UbuntuLtIt;
  text-align: justify;
}

.quote-before, .quote-after {
  float: left;
  width: 5%;
  display: inline;
  margin: $space/2 0 0 0;
  font-size: 30px;
  text-align: left;
  color: $blue;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
  @include rotate(3deg);
}

.quote-after {
  float: right;
}

