.quote {
  display: inline;
  float: left;
  width: 88%;
  margin: $space/4 auto $space/2;
  font-family: $font-UbuntuLtIt;
  text-align: justify;
  @include breakpoint(smaller) {
    width: 100%;
    font-size: 0.8em;
  }
}

.quote-before, .quote-after {
  float: left;
  width: 5%;
  display: inline;
  font-size: 30px;
  text-align: left;
  color: $blue;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
  @include rotate(3deg);
  @include breakpoint(smaller) {
    display: none;
  }
}

.quote-after {
  float: right;
}

#tweet-container {


  & > iframe {
    @include box-shadow(none);
    display: inline;
  }
}