@charset "UTF-8";

@font-face {
  font-family: 'Fontello';
  src: url('../../resources/fontello.eot?94492264');
  src: url('../../resources/fontello.eot?94492264#iefix') format('embedded-opentype'),
    url('../../resources/fontello.woff?94492264') format('woff'),
    url('../../resources/fontello.ttf?94492264') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CallunaBlckRegular';
  src: url('../../resources/calluna-black-webfont.eot');
  src: url('../../resources/calluna-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/calluna-black-webfont.woff') format('woff'),
    url('../../resources/calluna-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CallunaItalic';
  src: url('../../resources/calluna-it-webfont.eot');
  src: url('../../resources/calluna-it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/calluna-it-webfont.woff') format('woff'),
    url('../../resources/calluna-it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CallunaRegular';
  src: url('../../resources/calluna-regular-webfont.eot');
  src: url('../../resources/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/calluna-regular-webfont.woff') format('woff'),
    url('../../resources/calluna-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuLtReg';
  src: url('../../resources/ubuntu-l-webfont.eot');
  src: url('../../resources/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/ubuntu-l-webfont.woff') format('woff'),
    url('../../resources/ubuntu-l-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuLtIt';
  src: url('../../resources/ubuntu-li-webfont.eot');
  src: url('../../resources/ubuntu-li-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/ubuntu-li-webfont.woff') format('woff'),
    url('../../resources/ubuntu-li-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
}

sup > [class^="icon-"],
sup > [class*=" icon-"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0 2px;
  font-size: 10px;
  line-height: 0;
  vertical-align: text-top;
}

// fontello styles
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-size: inherit;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}

.icon-home-1:before { content: '\e807'; }
.icon-pause:before { content: '\2389'; }
.icon-to-end:before { content: '\23ed'; }
.icon-to-start:before { content: '\23ee'; }
.icon-stop:before { content: '\25aa'; }
.icon-play:before { content: '\25b6'; }
.icon-cloud:before { content: '\2601'; }
.icon-music:before { content: '\266a'; }
.icon-record:before { content: '\26ab'; }
.icon-mail:before { content: '\2709'; }
.icon-cancel-circle:before { content: '\2716'; }
.icon-quote-left-alt:before { content: '\275b'; }
.icon-quote-right-alt:before { content: '\275c'; }
.icon-tag:before { content: '\e70c'; }
.icon-retweet:before { content: '\e717'; }
.icon-comment:before { content: '\e718'; }
.icon-chat:before { content: '\e70d'; }
.icon-rss:before { content: '\e73a'; }
.icon-popup:before { content: '\e74c'; }
.icon-arrows-cw:before { content: '\e760'; }
.icon-chart-pie:before { content: '\e7a2'; }
.icon-terminal:before { content: '\e7ac'; }
.icon-facebook:before { content: '\f300'; }
.icon-twitter-bird:before { content: '\f303'; }
.icon-github:before { content: '\f308'; }
.icon-linkedin:before { content: '\f31a'; }
.icon-globe:before { content: '\e803'; }
.icon-folder:before { content: '\e800'; }
.icon-doc:before { content: '\f4c4'; }
.icon-doc-text:before { content: '\e802'; }
.icon-chart-bar:before { content: '\f4ca'; }
.icon-book:before { content: '\f4d5'; }
.icon-upload:before { content: '\f4e4'; }
.icon-download:before { content: '\f4e5'; }
.icon-search-1:before { content: '\f50e'; }

.icon-terminal {
  position:relative;
  top: 3px;
  left: -7px;
  margin-bottom: 15px;
  color: lime;
  font-size: 16px;
}

// chasewoodford.com
h1, .h1, .kansas:hover {
  font-family: $font-CallunaReg, serif;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: -3px;
  color: $gray;
  text-shadow: $highlight-subtle, $highlight-dropShadow;

  &.playground {

  }
}

// nav
h2, .h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 50px;
  @include breakpoint(small) {
    font-size: 40px;
  }
  @include breakpoint(smaller) {
    font-size: 20px;
  }
}

// titles
h3, .h3 {
  margin: $space/2 0 $space !important;
  font-family: $font-UbuntuLtReg, serif;
  text-transform: lowercase;
}

// sidebar
h4, .h4 {
  margin: $space/2 0 0;
  font-family: $font-UbuntuLtReg, serif;
  text-align: right;
  text-transform: lowercase;
}

// lead
.lead {
  font-size: 150%;
  line-height: 36px;
  letter-spacing: -1px;

  &:after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 12px;
    border-bottom: 1px dashed $gray;
  }
}

.lead-font {
  @extend .lead;
  &:after {
    border-bottom: none;
  }
}

.title-bar {
  @extend .lead;
  &:after {
    right: 0;
    height: auto;
    margin-bottom: $space/2;
    padding-bottom: $space/2;
  }
}

.page-title-bar {
  @extend .title-bar;
  &:after {
    padding-bottom: 0;
  }
}

.resume-title-bar {
  display: block;
  margin-bottom: $space/2;
  font-family: $font-UbuntuLtReg, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.resume-connect-info {
  @extend .resume-title-bar;
  margin-bottom: $space*3;
}

.blue {
  color: $blue;
}

.left {
  float: left;
}

.text-left {
  text-align: left;
}

.right {
  float: right;
  @include breakpoint(smaller) {
    float: none;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bullet {
  padding: 0 12px;
  font-size: 14px;
}

.copyright, .blog-category, .portfolio-category, .resume-category, .header-link, .metadata {
  font: normal 75%/1 $font-UbuntuLtReg, serif;
}

.attribute, .allowed-tags {
  font: normal 75%/1 $font-CallunaReg, serif;
  line-height: 20px;
}

.allowed-tags {
  @include breakpoint(smaller) {
    float: left;
  }
}

.table {
  font: normal 75%/1.2 $font-UbuntuLtReg, serif;
  text-transform: lowercase;
}

body.about .nav-primary .about span.h2, body.blog .nav-primary .blog span.h2, body.work .nav-primary .work span.h2 {
  color: $blueDark;
  text-decoration: none;
}

.page-links {
  font-size: 14px;
  letter-spacing: normal;
  @include breakpoint(smaller) {
    font-size: 13px;
  }
}

.side-widget {
  margin-bottom: $space*1.5;
  li {
    font: normal 75%/1 $font-UbuntuLtReg, serif;
    margin: $space/10 0 $space/2;
    text-align: right;
    text-transform: lowercase;
  }
}