@font-face {
  font-family: 'Fontello';
  src: url("../../resources/fontello.eot");
  src: url("../../resources/fontello.eot?#iefix") format('embedded-opentype'),
    url("../../resources/fontello.woff") format('woff'),
    url("../../resources/fontello.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CallunaBlckRegular';
  src: url('../../resources/calluna-black-webfont.eot');
  src: url('../../resources/calluna-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/calluna-black-webfont.woff') format('woff'),
    url('../../resources/calluna-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CallunaItalic';
  src: url('../../resources/calluna-it-webfont.eot');
  src: url('../../resources/calluna-it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/calluna-it-webfont.woff') format('woff'),
    url('../../resources/calluna-it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CallunaRegular';
  src: url('../../resources/calluna-regular-webfont.eot');
  src: url('../../resources/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/calluna-regular-webfont.woff') format('woff'),
    url('../../resources/calluna-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuLtReg';
  src: url('../../resources/ubuntu-l-webfont.eot');
  src: url('../../resources/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/ubuntu-l-webfont.woff') format('woff'),
    url('../../resources/ubuntu-l-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuLtIt';
  src: url('../../resources/ubuntu-li-webfont.eot');
  src: url('../../resources/ubuntu-li-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../resources/ubuntu-li-webfont.woff') format('woff'),
    url('../../resources/ubuntu-li-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
}

sup > [class^="icon-"],
sup > [class*=" icon-"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0 2px;
  font-size: 10px;
  line-height: 0;
  vertical-align: text-top;
}

// fontello styles
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-size: inherit;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}

.icon-pause:before              { content: '\2389'; }
.icon-to-end:before             { content: '\23ed'; }
.icon-to-start:before           { content: '\23ee'; }
.icon-stop:before               { content: '\25aa'; }
.icon-play:before               { content: '\25b6'; }
.icon-cloud:before              { content: '\2601'; }
.icon-music:before              { content: '\266a'; }
.icon-music-1:before            { content: '\266b'; }
.icon-record:before             { content: '\26ab'; }
.icon-mail:before               { content: '\2709'; }
.icon-cancel-circle:before      { content: '\2716'; }
.icon-quote-left-alt:before     { content: '\275b'; }
.icon-quote-right-alt:before    { content: '\275c'; }
.icon-tag:before                { content: '\e70c'; }
.icon-retweet:before            { content: '\e717'; }
.icon-comment:before            { content: '\e718'; }
.icon-chat:before               { content: '\e720'; }
.icon-rss:before                { content: '\e73a'; }
.icon-popup:before              { content: '\e74c'; }
.icon-arrows-cw:before          { content: '\e760'; }
.icon-chart-pie:before          { content: '\e7a2'; }
.icon-terminal:before           { content: '\e7ac'; }
.icon-facebook:before           { content: '\f300'; }
.icon-twitter-bird:before       { content: '\f303'; }
.icon-github:before             { content: '\f308'; }
.icon-linkedin:before           { content: '\f31a'; }
.icon-picture:before            { content: '\1f304'; }
.icon-video:before              { content: '\1f3ac'; }
.icon-video-2:before            { content: '\e801'; }
.icon-monitor:before            { content: '\1f4bb'; }
.icon-doc:before                { content: '\1f4c4'; }
.icon-doc-text:before           { content: '\e802'; }
.icon-chart-bar:before          { content: '\1f4ca'; }
.icon-attach:before             { content: '\1f4ce'; }
.icon-book:before               { content: '\1f4d5'; }
.icon-upload:before             { content: '\1f4e4'; }
.icon-download:before           { content: '\1f4e5'; }
.icon-mobile:before             { content: '\1f4f1'; }
.icon-search-1:before           { content: '\1f50e'; }

// chasewoodford.com
h1, .h1, .kansas:hover {
  font-family: $font-CallunaReg, serif;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: -3px;
  color: $gray;
  text-shadow: $highlight-subtle, $highlight-dropShadow;
}

// nav
h2, .h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

// titles
h3, .h3 {
  margin: $space/2 0 0;
  font-family: $font-UbuntuLtReg, serif;
  text-transform: lowercase;
}

// sidebar
h4, .h4 {
  margin: 0;
  font-family: $font-UbuntuLtReg, serif;
  text-transform: lowercase;
  text-shadow: $highlight-subtle, $highlight-dropShadow;
}

// lead
.lead {
  font-size: 150%;
  line-height: 36px;
  letter-spacing: -1px;

  &:after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 12px;
    border-bottom: 1px dashed $gray;
  }
}

.lead-font {
  @extend .lead;
  &:after {
    border-bottom: none;
  }
}

.title-bar {
  @extend .lead;
  &:after {
    right: 0;
    height: auto;
    margin-bottom: $space/2;
    padding-bottom: $space/2;
  }
}

.page-title-bar {
  @extend .title-bar;
  &:after {
    padding-bottom: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bullet {
  padding: 0 12px;
  font-size: 14px;
}

.copyright, .blog-category, .header-link {
  font: normal 75%/1 $font-UbuntuLtReg, serif;
}

.attribute {
  font: normal 75%/1 $font-CallunaReg, serif;
  line-height: 20px;
}

body.about .nav-primary .about span.h2, body.blog .nav-primary .blog span.h2, body.contact .nav-primary .contact span.h2, body.work .nav-primary .work span.h2 {
  color: $blueDark;
  text-decoration: none;
}

.page-links {
  font-size: 14px;
  letter-spacing: normal;
}