$space: 20px;

$font-Fontello:       'Fontello';
$font-CallunaBlck:    'CallunaBlckRegular';
$font-CallunaIt:      'CallunaItalic';
$font-CallunaReg:     'CallunaRegular';
$font-UbuntuLtReg:    'UbuntuLtReg';
$font-UbuntuLtIt:     'UbuntuLtIt';
$font-Mono:           monospace;

$black:                 #000 !default;
$white:                 #fff !default;
$blue:                  #0088CC !default;
$blueDark:              #005581 !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #9b0082 !default;
$gray:                  #5A5A5A !default;
$grayDark:              #CCCCCC !default;
$light-gray:            #929292 !default;

$linkColor:             $blue;
$linkColorHover:        $blueDark;

$baseFontSize:          12px !default;
$baseLineHeight:        18px !default;

$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         $grayDark;

$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     $linkColorHover;

$inputBackground:               $white !default;
$inputBorder:                   $grayDark;
$inputBorderRadius:             3px !default;
$inputDisabledBackground:       lighten($gray, 15%) !default;
$formActionsBackground:         #f5f5f5 !default;

$placeholderText:         $light-gray !default;

$highlight-subtle:            0 -1px 0 rgba(140,140,140,0.9);
$highlight-dropShadow:        0 2px 1px rgba(0, 0, 0, 0.5);
$highlight-title:             0 1px 1px rgba(0, 0, 0, 0.5);
$highlight-onDark:            1px 2px 1px rgba(0, 0, 0, 0.5);

$highlight-tableRow:          rgba(0, 0, 0, 0.05);

$fg-column: 115px;
$fg-gutter: $space;
$fg-max-columns: 12;

@function flex-grid($columns, $container-columns: $fg-max-columns) {
  $width: $columns * $fg-column + ($columns - 1) * $fg-gutter;
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;
  @return percentage($width / $container-width);
}

// The $fg-column, $fg-gutter and $fg-max-columns variables must be defined in your base stylesheet to properly use the flex-grid function.
// This function takes the fluid grid equation (target / context = result) and uses columns to help define each.
//
//  $fg-column: 115px;             // Column Width
//  $fg-gutter: 20px;             // Gutter Width
//  $fg-max-columns: 12;          // Total Columns For Main Container
//
//  div {
//    width: flex-grid(4);        // returns (540px / 1600px) = 33.75%;