@import "./bootstrap/mixins.scss";
@import "./bootstrap/reset.scss";
@import "./bootstrap/variables.scss";
@import "./bootstrap/type.scss";
@import "./bootstrap/forms.scss";
@import "./bootstrap/buttons.scss";


//=variables
$color-main-blue: #0088cc;
$color-secondary-purple: #9b0082;
$color-secondary-white: #fff;


//=custom fonts
@font-face {
  font-family: 'Share';
  src: local('Share'), local('Share-Regular'), url('http://themes.googleusercontent.com/static/fonts/share/v1/_jCje2O-7QL947BeMhJzWQ.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graublau';
  src: local('Graublau'), url('../../resources/GraublauWebBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Social';
  src: url('../../resources/socialico-webfont.eot');
  src: url('../../resources/socialico-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../resources/socialico-webfont.woff') format('woff'),
  url('../../resources/socialico-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//=reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


//=global
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #container {
  height: 100%;
  font-size: 16px;
  overflow: auto;
}

html {
  background: #0088cc;
  background: -webkit-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: -moz-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: -o-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: -ms-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0088cc',GradientType=0 );

  -moz-transition: background 2s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.whiteOut {
  -webkit-animation-name: whiteOut;
  animation-name: whiteOut;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes whiteOut {
 from {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 to {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@keyframes whiteOut {
 from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }
 to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }

}

@keyframes whiteOut {
 from {
   	opacity: 0;
 }
 to {
   	opacity: 1;
    background: #fff;
 }

}

h1 {
  color: $color-secondary-white;
  font-size: 5rem; // 80px/16px
  font-family: "Share","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 3px 3px #111;
}

h2 {
  color: $color-secondary-white;
  font-size: 3rem; // 48px/16px
  font-family: "Graublau",Cambria,Georgia,Times,serif;
  text-align: left;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

i.social {
  font-family: "Social";
}

a, a:visited {
  color: $color-main-blue;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: $color-secondary-purple;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

p {
  color: $color-secondary-white;
  font-size: 1.25rem; // 20px/16px
  line-height: 1.5rem; // 24px/16px
  font-family: Cambria,Georgia,Times,serif;
  margin-bottom: 1.5rem; // 24px/16px
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

::-moz-selection {
  background: $color-secondary-purple;
  color: $color-secondary-white;
  text-shadow: none;
}

::selection {
  background: $color-secondary-purple;
  color: $color-secondary-white;
  text-shadow: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

td {
  vertical-align: top;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 3s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;

}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  animation-name: fadeOut;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 2s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  cursor: default;
}

.fadeOut a {
  cursor: default;
}

@-moz-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes fadeIn {
 from {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 to {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@keyframes fadeIn {
 from {
   	opacity: 0;
 }
 to {
   	opacity: 1;
 }

}

@-moz-keyframes fadeOut {
 from {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 to {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-webkit-keyframes fadeOut {
 from {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 to {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@keyframes fadeOut {
 from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }
 to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }

}

.img-border {
  float: left;
  width: 20%;
  margin: 0 1.5rem; // lr- 24px/16px
  background-color: rgba(155, 0, 130, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 1%;
}