@-webkit-keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

@-moz-keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

@keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}