@import "reset.scss";

body {
  background: url('../../images/bg.png') repeat;
  font-family: $font-Calluna, serif;
  @include font-size;
  color: $grey;
}

::selection {
  background: $blue;
  color: $white;
}

::-moz-selection {
  background: $blue;
  color: $white;
}

h1 {
  position: absolute;
  top: 50px;
  width: 100%;
  margin: 0 0 10px 0;
  font-family: $font-Calluna, serif;
  @include font-size($font-size: 48);
  letter-spacing: -3px;
  text-align: center;
  color: $grey;
  text-shadow: $highlight-subtle, $highlight-dropShadow;
}

p {
  margin: 0;
}