@import "reset.scss";

body {
  height: 100%;
  background: url('../../images/bg.png') repeat;
  overflow-x: hidden;
  font: normal 125%/1.4 $font-Calluna, serif; // 20/16, 28/20
  color: $grey;
}

::selection {
  background: $blue;
  color: $white;
}

::-moz-selection {
  background: $blue;
  color: $white;
}

a:link, a:visited {
  color: $grey;
  text-decoration: none;
  @include transition(all .5s ease-in-out);
}

a:hover, a:active, a:focus {
  color: $blue;
  text-shadow: $highlight-dropShadow;
  text-decoration: none;
  @include transition(all .5s ease-in-out);
}

footer {
  position: relative;
  clear: both;
  height: $sticky-footer-height;
  margin-top: -$sticky-footer-height;
  padding: 0px;
}