@import "reset.scss";

body {
  background: url('../../images/bg.png') bottom fixed repeat-x #e5e5e5;
  font-family: $font-Calluna, serif;
  font-size: $font-size-base; // 150%, 24px/16px
  line-height: $line-height-base; // 175%, 28px/16px
  color: $grey;
}

::selection {
  background: $blue;
  color: $white;
}

::-moz-selection {
  background: $blue;
  color: $white;
}

h1 {
  position: absolute !important;
  top: 50px !important;
  width: 100% !important;
  margin: 0 0 10px 0 !important;
  font-family: $font-Calluna, serif !important;
  font-size: $font-size-base * 2 !important;
  line-height: $font-size-base * 2 !important;
  letter-spacing: -3px !important;
  text-align: center !important;
  color: $grey !important;
  text-shadow: $highlight-subtle, $highlight-dropShadow !important;
}

p {
  margin: 0;
}