//base
@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";
@import "animations.scss";
@import "base.scss";
@import "layout.scss";

// modules
@import "m-blog.scss";

// misc
img {
  width: 140px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.parking {
  width: flex-grid(10);
  text-align: center;
  margin: 0 auto 20px;
  border: 1px dashed #fa8072;
}