//body  { background: url(../images/light/bg.jpg) bottom fixed repeat-x #e5e5e5; font-size:12px; line-height:18px; color:#929292;  font-family: 'Lato', sans-serif;   }
#wrap { width:960px; margin-left:auto; margin-right:auto; }

/* font styles */
h2  { font-size:13px; line-height:30px; color:#929292; padding:0px; margin:0px; font-weight:300; 	text-transform:uppercase;  }
h3  { font-size:13px; line-height:22px; color:#929292; padding:0px; margin:0px; font-weight:400; 	text-transform:none; }
h4  { font-size:15px; line-height:25px; color:#929292; padding:0px; margin:0px; font-weight:400;   }
h5  { font-size:13px; line-height:22px; color:#929292; padding:0px; margin:0px; font-weight:400;   }
h6  { font-size:12px; line-height:22px; color:#929292; padding:0px; margin:0px; font-weight:400;   }
p   { font-size:12px; line-height:21px; color:#929292; margin:0px; padding:0px; clear:both; padding-top:10px; padding-bottom:0px;}

/* list Styles */
ul 	{ padding:0px; margin:0; margin-left:0px; font-family:'Helvetica',Arial, Helvetica, sans-serif; padding-top:10px;   }
ul li { font-size:12px; color:#858585; padding-left:10px; margin-bottom:7px; list-style:inside; list-style-type:square;}
ol 	{ padding:0px; margin:0; margin-left:25px; font-family:'Helvetica',Arial, Helvetica, sans-serif; padding-top:10px;   }
ol li { font-size:12px; color:#858585; padding-left:10px; margin-bottom:7px;  list-style-type: decimal; }

/* sidebar styles */
#stumblr-sidebar     { width:200px; display:inline; float:right; margin-top:80px; }
#logo 			 { margin-bottom:10px; width:200px; overflow:hidden; }

.side-widget { display:inline; float:left; clear:both; margin-bottom:20px; width:200px; overflow:hidden; padding-top:15px;  }
.side-widget ul 	 { list-style: none;  margin:0px; padding:0px; width:180px;clear:both; margin-top:7px;   }
.side-widget ul li 	 { float: left;  display: block;  font-size: 13px; margin:0px; padding:0px; width:180px;     }
.side-widget ul li a 		 { display:block; line-height:20px; font-size:12px; padding-bottom:2px; padding-left:2px; font-weight:300; text-transform:none;   }
.side-widget .textwidget { font-size:12px; line-height:19px; color:#333;  }


/* post and page styles */
#post-area { width:740px; display:inline; float:left; margin-top:80px;}
.type-post 		{ width:740px; background:#FFF; display:inline; float:left; margin-bottom:20px; padding-bottom:15px; }
.type-page 		{ width:740px; background:#FFF; mdisplay:inline; float:left; margin-bottom:20px; padding-bottom:15px;  }
.type-attachment 	{ width:740px; background:#FFF; margin-top:15px; display:inline; float:left; margin-bottom:20px; padding-bottom:15px;  }

.stumblr-title 			{ background:#f1f1f1; height:30px; padding-left:20px; display:block; }
.stumblr-content 			{ width:660px; margin-left:40px; display:inline; float:left;}
.stumblr-content iframe 	{ display:inline; float:left; margin-left:-40px;margin-top:-10px; margin-bottom:10px;}
.stumblr-content embed 	{ display:inline; float:left; margin-left:-40px;margin-top:-10px; margin-bottom:10px;}
.stumblr-image 			{ display:inline; float:left; margin-left:-40px; margin-bottom:10px;}

.stumblr-meta { display:inline; width:660px; float:left; margin-left:40px; margin-top:20px; border-top: 1px dotted #e2e2e2; }
.stumblr-meta p { padding:0; margin:0; line-height:16px; margin-top:5px; margin-bottom:5px;}
.stumblr-date { display:inline; float:left; font-style:italic; font-size:11px; background:url(../../wp-content/themes/stumblr/images/light/date.jpg) top left no-repeat; line-height:16px; padding-left:20px; margin-right:20px; }
.stumblr-category  {  display:inline; float:left; font-style:italic; color:#929292; font-size:11px; background:url(../../wp-content/themes/stumblr/images/light/cat.jpg) top left no-repeat; line-height:16px; padding-left:20px; margin-right:20px;}


/* footer styles */
#footer-area 					{ width: 960px; display:inline; float:left; padding-top:10px; margin-top:20px; clear:both; }
.footer-widget 	 			{ width:300px; margin-right:20px; padding-top:15px; display:inline; float:left; font-size:12px; color:#454545; line-height:18px;   }
.footer-widget ul 			{ margin:0px; padding:0px; clear:both; margin-top:7px;   }
.footer-widget ul li 	 		{ float: left;  display:inline;  font-size: 13px; margin:0px; padding:0px; width:300px;    }
.footer-widget ul li a 		{ display:block; line-height:22px; padding-bottom:2px; padding-left:2px; font-weight:300; text-transform:none; }
.footer-widget .textwidget { font-size:12px; line-height:19px; color:#333;  }

/* more widget styles */
.widget_search label { display:none; }
.widget_search input {  border:1px solid #8e8e8e; background:none; font-family:Arial, Helvetica, sans-serif; color:#555; font-size:12px; display:inline; float:left; height:20px; line-height:22px; outline:none; width:140px; padding:5px;  border-radius: 3px;  -moz-border-radius: 3px; }
#searchsubmit { display:inline; float:left; width:32px; height:20px; line-height:20px; background:url(../../wp-content/themes/stumblr/images/light/search-light.png) top left  no-repeat; border:none; text-indent:-9999px; margin-left:9px; margin-top:5px; }
#searchsubmit:hover { display:inline; float:left; width:20px; height:20px; line-height:22px; background:url(../../wp-content/themes/stumblr/images/light/search-light.png) bottom left  no-repeat; border:none; text-indent:-9999px; margin-left:9px; margin-top:5px;  }

/* copyright styles */
#copyright 			{ width: 960px; display:inline; float:left; padding-top:10px; margin-top:20px; clear:both; margin-bottom:20px; }
#copyright p 			{ padding-top:15px; color:#4f5356; font-size:12px; }


/* post css3 styles */
.post 	{  -moz-border-radius-bottomright: 8px;  border-bottom-right-radius: 8px;     -moz-border-radius-bottomleft: 8px;  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.15); -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.15); box-shadow: 0 1px 8px rgba(0,0,0,0.15); }
.page 	{  -moz-border-radius-bottomright: 8px;  border-bottom-right-radius: 8px;     -moz-border-radius-bottomleft: 8px;  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.15); -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.15); box-shadow: 0 1px 8px rgba(0,0,0,0.15); }
.type-attachment	{  -moz-border-radius-bottomright: 8px;  border-bottom-right-radius: 8px;     -moz-border-radius-bottomleft: 8px;  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.15); -moz-box-shadow: 0 1px 8px rgba(0,0,0,0.15); box-shadow: 0 1px 8px rgba(0,0,0,0.15); }
/* pagination styles */
.stuumblr-pagination { clear:both; padding:20px 0; position:relative; font-size:11px; line-height:13px; }
.stuumblr-pagination span  { display:block; float:left; margin: 4px 4px 4px 0; padding:6px 9px 5px 9px;text-decoration:none; width:auto;color:#666; background-color:#fff;border: 1px solid #b3b3b3; border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; background-color:#e5e5e5; }
.stuumblr-pagination a { display:block; float:left; margin: 4px 4px 4px 0; padding:6px 9px 5px 9px; text-decoration:none; width:auto;color:#666; background-color:#fff;border: 1px solid #b3b3b3; border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; background-color:#e5e5e5;}
.stuumblr-pagination a:hover {  border: 1px solid #b3b3b3; border-radius: 3px;  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white;
  box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; background-color:#fff;}
.stuumblr-pagination .current {  color:#666;border: 1px solid #b3b3b3; border-radius: 3px;  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white;
  -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white; background-color:#fff;}

/* comment styles */
#comment-form     { margin-top:20px;}
.comments-area ol { list-style:none; margin:0; padding:0;  border-bottom:1px solid #8e8e8e; }
.comments-area li { list-style:none; margin:0; padding:0; border-top:1px solid #8e8e8e; width:100%; clear:both; display:inline; float:left; margin-bottom:10px; padding:10px;  }
.avatar 			{ display:none;}
.reply 			{ display:none;}
.comment-meta  	{ display:none;}
.comment-author 	{ font-size:16px; font-weight:bold; font-family: 'Droid Sans', sans-serif; }
#comment-form 	{ width:50%; }
.text-input 		{ clear:both; border:1px solid #8e8e8e; margin-bottom:5px; width:90%; padding:7px; font-family:Arial, Helvetica, sans-serif; color:#555; font-size:12px;  }
.comment-input  	{ clear:both; border:1px solid #8e8e8e; margin-bottom:5px; width:90%; padding:7px; font-family:Arial, Helvetica, sans-serif; color:#555; font-size:12px;  }
.comment-submit 	{ clear:both; width:120px; height:30px; line-height:25px; background:#e5e5e5; border:1px solid #8e8e8e;   }


/* Additional and WordPress styles */
.clear 			{ clear:both;}
.aligncenter	 	{ display: block; margin: 0 auto; }
.alignleft		{ float: left; margin-right:20px; margin-top:20px; margin-bottom:10px; }
.alignright		{ float: right; margin: 0 0 20px 20px; }
.wp-caption		{  text-align: left; margin-top:5px; margin-bottom:5px; }
.wp-caption-text  { margin-top:2px;  text-align:left; font-style:italic;  font-size:11px; color:#999; }
.sticky    		{}
.gallery-caption  {}
.bypostauthor  	{}
blockquote 		{ font-size:2em; line-height:23px; color:#000; margin-left:20px; border-left: 1px dotted #999; padding-left:25px; margin-top:15px; margin-bottom:15px; }
#respond { display:none; }