#form {
  width:500px;
  position: absolute;
  padding: 18px 6% 60px 6%;
  margin: 0 auto;
  text-align: left;
}

.formSend {
  width: 80% !important;
  &:focus {
    outline: none;
  }
}

.formClear {
  width: 18% !important;
  margin-left: 1%;
  &:focus {
    outline: none;
  }
}

.notification_error {
  height: auto;
  color: #ff0000;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
  margin-bottom: 10px;
}

.notification_ok {
  height: auto;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.textarea {
  width: 400px;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #cccccc;
  color: #333333;
  font: 12px Verdana, Helvetica, Arial, sans-serif;
  -moz-border-radius: 3px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing : content-box;
  box-sizing : content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;}

.textbox {
  width: 400px;
  height: 25px;
  margin: 5px auto 15px;
  padding: 5px;
  border: 1px solid #cccccc;
  color: #333333;
  font: 12px Verdana, Helvetica, Arial, sans-serif;
  -moz-border-radius: 3px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing : content-box;
  box-sizing : content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6);
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6);
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.textbox2 {
  height: 140px;
}