@import "variables.scss";
@import "base.scss";
@import "layout.scss";
@import "module.scss";

div {
  width: auto;
  padding: 50px 0 0 0;
  text-align: center;
}

img {
  opacity: 0.5;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

img:hover {
  opacity: 1;
}