.grid-2 {
  margin: 0 auto 20px;
  width: flex-grid(2); // 16.875%
}

.grid-3 {
  margin: 0 auto 20px;
  width: flex-grid(3); // 25.3125%
}

.grid-4 {
  margin: 0 auto 20px;
  width: flex-grid(4); // 33.75%
}

.grid-5 {
  margin: 0 auto 20px;
  width: flex-grid(5); // 42.1875%
}

.grid-6 {
  margin: 0 auto 20px;
  width: flex-grid(6); // 50.625%
}

.grid-8 {
  margin: 0 auto 20px;
  width: flex-grid(8); // 67.5%
}

.grid-10 {
  margin: 0 auto 20px;
  width: flex-grid(10); // 84.375%
}

.wrapper {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(12);
  min-height: 500px;
}

header {
  overflow: hidden;
}

.sitename {
  position: relative;
  top: 15px;
  float: left;
  vertical-align: top;
  margin: 0;
}

.search-box {
  position: relative;
  top: 15px;
  float: right;
  width: 50%;
  vertical-align: top;
  text-align: right;
}

.inline {
  display: inline;
}

.hero {
  margin: 30px auto 60px;
}

.attribute {
  float: left;
  padding: 0;
}

.twitter-button {
  float: right;
}

.blog-category {
  float: right;
  position: relative;
  bottom: -10px;
}

#post-area {
  float: left;
  padding-left: 230px;
}

#sidebar {
  float: left;
  margin: 35px 0 0 20px;
  text-align: right;
}