[class*='grid-'] {
  max-width: 1024px;
}

.grid-2 {
  margin: 0 auto 20px;
  width: flex-grid(2); // 16.875%
}

.grid-3 {
  margin: 0 auto 20px;
  width: flex-grid(3); // 25.3125%
}

.grid-4 {
  margin: 0 auto 20px;
  width: flex-grid(4); // 33.75%
}

.grid-5 {
  margin: 0 auto 20px;
  width: flex-grid(5); // 42.1875%
}

.grid-6 {
  margin: 0 auto 20px;
  width: flex-grid(6); // 50.625%
}

.grid-7 {
  margin: 0 auto 20px;
  width: flex-grid(7); // 59.0625%
}

.grid-8 {
  margin: 0 auto;
  width: flex-grid(8); // 67.5%
}

.grid-9 {
  margin: 0 auto;
  width: flex-grid(9); // 75.9375%
}

.grid-10 {
  margin: 0 auto;
  width: flex-grid(10); // 84.375%
}

.grid-blog {
  margin-left: 6%;
  width: flex-grid(8); // 67.5%
}

.wrapper {
  clear: both;
  margin: 0;
  width: flex-grid(12);
  min-height: 100%;
  height: auto;
}

header {
  overflow: hidden;
  padding-top: 15px;
}

.sitename {
  position: relative;
  top: 15px;
  float: left;
  vertical-align: top;
  margin: 0;
}

.search-box {
  position: relative;
  top: 15px;
  float: right;
  width: 50%;
  vertical-align: top;
  text-align: right;
}

.nav-primary {
  float: left;
  position: relative;
  margin: 25px 0;
}

.inline {
  display: inline;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hero {
  margin: 30px auto 50px;
}

.attribute {
  float: left;
  padding: 0;
}

.twitter-button, .blog-category {
  float: right;
}

.continue-reading {
  float: right;
  padding: 5px 0 10px;
}

.title-background {
  display: block;
  padding: 5px 20px;
  background: $blue;
}

#post-area {
  float: left;
}

#sidebar {
  float: right;
  margin: 10px 6% 0;
  text-align: right;
}

.side-widget {
  display: inline;
  float: right;
  width: auto;
  padding-top:15px;
  margin-bottom: 20px;
}

.side-widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  clear: both;
}

.side-widget ul li {
  float: right;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 180px;
}

.preview-container {
  margin: 0 auto 60px;
}

.preview, .static {
  display: inline-block;
  margin: 0 10px 20px;

  &.main {
    margin: 20px 10px 0;
  }
}

.form {
  display: inline-block;
  margin: 0;
}