.grid-2 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(2); // 16.875%
}

.grid-3 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(3); // 25.3125%
}

.grid-4 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(4); // 33.75%
}

.grid-5 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(5); // 42.1875%
}

.grid-6 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(6); // 50.625%
}

.grid-8 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(8); // 67.5%
}

.grid-10 {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(10); // 84.375%
}

.wrapper {
  clear: both;
  margin: 0 auto 20px;
  width: flex-grid(12);
  min-height: 500px;
  border: 1px dashed #fa8072;
}

header {
  overflow: hidden;
}

.sitename {
  position: relative;
  top: 15px;
  float: left;
  vertical-align: top;
  margin: 0;
}

.search-box {
  position: relative;
  top: 15px;
  float: right;
  vertical-align: top;
  margin: 0;
}

.inline {
  display: inline;
}