.tweet {
  font-family: $font-UbuntuLtIt;

  &:before{
    content: "\201C";
    font-family: "Insign";
    font-size: 80px;
    color: $blue;
    opacity: 0.75;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
    @include rotate(3deg);
  }
}

