.preview {
  @include box-shadow(0 8px 10px -6px black);

  img {
    @include transition(all 0.2s ease-in-out);
    vertical-align: middle;

    &:hover {
      @include box-shadow(0 8px 10px -6px $blue);
    }
  }
}

.static img {
  width: 100%;
  @include box-shadow(0 8px 10px -6px black);
  vertical-align: middle;
  @include box-sizing(border-box);
}