.preview {
  @include box-shadow(0 8px 10px -6px black);

  img {
    @include transition(all 0.2s ease-in-out);
    border: 4px solid white;
    vertical-align: middle;

    &:hover {
      border: 4px solid $blue;
    }
  }
}