@media only screen and (max-device-width : 480px) {
  #container {
    width: 100%;
    overflow: hidden;
  }

  #nav {
    padding-top: 10%;
  }

  #nav li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 5%;
    &:after {
      clear: both;
    }
    img {
      display: none;
    }
  }

  #nav a {
    font-size: 2rem; /* 32px / 16px */
  }

  #starryNight, #about, #contact, footer, div.bottombar {
    display: none;
  }
}