@import "./bootstrap/mixins.scss";
@import "./bootstrap/reset.scss";
@import "./bootstrap/variables.scss";
@import "./bootstrap/type.scss";
@import "./bootstrap/forms.scss";
@import "./bootstrap/buttons.scss";
@import "variables.scss";
@import "reset.scss";
@import "typography.scss";
@import "links.scss";
@import "animations.scss";
@import "skillsChart.scss";
@import "mq.scss";

html, body, #container {
	height: 100%;
    font-size: 16px;
    overflow: hidden;
}

html {
  background: #0088cc;
  background: -webkit-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: -moz-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: -o-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: -ms-linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  background: linear-gradient(top,  #000000 0%, $color-main-blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0088cc',GradientType=0 );

  -moz-transition: background 2s;
  -webkit-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

#container {
  width: 960px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
}

#starryNight {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  background: transparent;
  background-image:
  -webkit-gradient(radial, 50% 50%, 36, 50% 50%, 40,from(rgba(150, 111, 195, 0.2)), color-stop(0.3, rgba(150, 111, 195, 0.3)),  to(transparent)),
  -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(224, 124, 203, 0.1)), color-stop(0.2, rgba(224, 124, 203, 0.2)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(224, 124, 203, 0.1)), color-stop(0.2, rgba(224, 124, 203, 0.2)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 38, 50% 50%, 46, from(rgba(145, 75, 113, 0.3)), color-stop(0.3, rgba(145, 75, 113, 0.2)),  to(transparent)),
  -webkit-gradient(radial, 50% 50%, 20, 50% 50%, 80, from(rgba(145, 75, 113, 0)), color-stop(0.3, rgba(145, 75, 113, 0.2)),  to(transparent)),
  -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 90, from(rgba(145, 75, 113, 0)), color-stop(0.5, rgba(145, 75, 113, 0.2)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 50, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 26, 50% 50%, 30, from(rgba(37, 85, 79, 0.2)), color-stop(0.2, rgba(37,85,79, 0.3)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 36, 50% 50%, 40, from(rgba(37, 85, 79, 0.3)), color-stop(0.2, rgba(37,85,79, 0.2)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 50, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.1)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 16, 50% 50%, 20, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.2)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 26, 50% 50%, 30, from(rgba(114, 209, 244, 0.1)), color-stop(0.2, rgba(114, 209, 244, 0.2)), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 36, 50% 50%, 40, from(rgba(114, 209, 244, 0.2)), color-stop(0.2, rgba(114, 209, 244, 0.3)), to(transparent))
;
  background-image:
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
  -webkit-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
  -webkit-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
  background-image:
  -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
  -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
  -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
  -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
  -moz-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
  -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
  -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
  -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
  -moz-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
  background-image:
  -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
  -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
  -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
  -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
  -o-radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
  -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
  -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
  -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
  -o-radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
  background-image:
  radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 2px, rgba(114, 209, 244, 0.1) 2px, transparent 3px),
  radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 3px, transparent 4px),
  radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 2px, transparent 2px),
  radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 3px, rgba(37, 85, 79, 0.2) 4px, transparent 4px),
  radial-gradient(circle contain, rgba(37, 85, 79, 0.1) 4px, rgba(37, 85, 79, 0.2) 3px, transparent 5px),
  radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.1) 3px, transparent 5px),
  radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 3px, rgba(114, 209, 244, 0.2) 3px, transparent 4px),
  radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 1px, transparent 3px),
  radial-gradient(circle contain, rgba(114, 209, 244, 0.1) 1px, rgba(114, 209, 244, 0.2) 2px, transparent 2px)
;
  -webkit-background-size: 300px 300px;
  -moz-background-size: 300px 300px;
  background-size: 300px 300px;
  background-position: 5% -75px, -20% -70px, 25% -40px, 55% -50px, -55% -80px, 200% -100px, -50% -60px, -60% -20px, -80px -80px, -160px -30px, 20px -30px, 130px -60px, 180px -40px, 180px 0px;
}

#nav {
    width: 100%;
    padding-top: 30%;
    text-align: center;
    opacity: 0;
}

#nav li {
    display: inline;
    float: left;
    width: 20%;
}

#nav img {
    width: 5em;
    margin-bottom: 20px;
    display: inline;
}

#nav img.shake-left:hover {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#nav img.shake-right:hover {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

i:hover {
  opacity: 0.8;
}

#footer {
	position: relative;
	background: url('../../images/img-phillyFooter.png') bottom center no-repeat;
	margin-top: -230px; /* negative value of footer height */
	height: 230px;
	clear: both;
    z-index: 2;
}

#belowFooter {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100px;
    bottom: -100px;
    background-color: #000;
    text-align: center;
}

#belowFooter ul li {
      display: inline;
      margin: 0 0.625rem; // lr- 10px/16px
}

#quickLinks {
	position: absolute;
	bottom: 0;
	left: 15px;
	cursor: pointer;
}

#copyright {
	position: absolute;
	bottom: 0;
	right: 15px;
}

div.bottombar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000;
    height: 16px;
    z-index: 0;
}

#about {
    position: absolute;
    left: 2000px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1.5rem; // 24px/16px
    color: $color-secondary-white;
}

.img-border {
    float: left;
    width: 20%;
    margin: 0 1.5rem; // lr- 24px/16px
    background-color: rgba(155, 0, 130, 0.5);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 1%;
}

#contact {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    padding: 1.5rem; // 24px/16px
    color: $color-secondary-white;
    background-color: $black;
}

form {
    margin: 1rem auto; // tb- 16px/16px
}

.content {
    margin: 0 auto;
    min-width: 960px;
    width: 960px;
}

//=printStyles
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}