// colors
$blue:        #0088CC;
$purple:      #9b0082;
$grey:        #5A5A5A;
$light-grey:  #929292;
$white:       #FFFFFF;

// text-shadows
$highlight-subtle:      0 -1px 0 rgba(140,140,140,0.9);
$highlight-dropShadow:  0 2px 1px rgba(0, 0, 0, 0.5);

// flex-grid
$fg-column: 115px;
$fg-gutter: 20px;
$fg-max-columns: 12;