// colors
$blue:        #0088CC;
$purple:      #9b0082;
$gray:        #5A5A5A;
$light-gray:  #929292;
$white:       #FFFFFF;

// text-shadows
$highlight-subtle:      0 -1px 0 rgba(140,140,140,0.9);
$highlight-dropShadow:  0 2px 1px rgba(0, 0, 0, 0.5);
$highlight-title:       0 1px 1px rgba(0, 0, 0, 0.5);
$highlight-inlineText:  0 1px 1px rgba(0, 0, 0, 0.3);

// flex-grid
$fg-column: 115px;
$fg-gutter: 20px;
$fg-max-columns: 12;

@function flex-grid($columns, $container-columns: $fg-max-columns) {
  $width: $columns * $fg-column + ($columns - 1) * $fg-gutter;
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;
  @return percentage($width / $container-width);
}

// The $fg-column, $fg-gutter and $fg-max-columns variables must be defined in your base stylesheet to properly use the flex-grid function.
// This function takes the fluid grid equation (target / context = result) and uses columns to help define each.
//
//  $fg-column: 115px;             // Column Width
//  $fg-gutter: 20px;             // Gutter Width
//  $fg-max-columns: 12;          // Total Columns For Main Container
//
//  div {
//    width: flex-grid(4);        // returns (540px / 1600px) = 33.75%;