@charset "UTF-8";

 
.icon-home-1:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-stop:before { content: '\25aa'; } /* '▪' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-music:before { content: '\266a'; } /* '♪' */
.icon-record:before { content: '\26ab'; } /* '⚫' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-quote-left-alt:before { content: '\275b'; } /* '❛' */
.icon-quote-right-alt:before { content: '\275c'; } /* '❜' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-chart-pie:before { content: '\e7a2'; } /* '' */
.icon-terminal:before { content: '\e7ac'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-soundcloud:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-globe:before { content: '\e803'; } /* '' */
.icon-folder:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '📄'; } /* '\1f4c4' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-search-1:before { content: '🔎'; } /* '\1f50e' */