@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html { height: 100%; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
*:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

.clearfix { *zoom: 1; }
.clearfix:before { content: " "; display: table; }
.clearfix:after { content: " "; display: table; clear: both; }

body { font-family: 'Lato', Calibri, Arial, sans-serif; background: #9cb8b3; font-weight: 300; font-size: 15px; color: rgba(0, 0, 0, 0.6); overflow: scroll; overflow-x: hidden; }

a { color: #555; text-decoration: none; }
a:hover { color: rgba(0, 0, 0, 0.9); text-decoration: underline; }
a.no-decoration { text-decoration: none; }

.container { width: 100%; position: relative; }
.container > header { width: 90%; max-width: 1240px; margin: 0 auto; position: relative; padding: 0 30px 50px 30px; padding: 60px 30px 50px; text-align: center; }
.container > header h1 { font-size: 70px; line-height: 38px; letter-spacing: 10px; text-transform: uppercase; margin: 0 auto; font-weight: 700; color: #FFF; text-shadow: 0 -1px 0 #c9cece, 0 1px 0 #bcc2c1, 0 2px 0 #aeb6b5, 0 3px 0 #a3acab, 0 4px 0 #9ea7a6, 0 5px 0 #99a2a1, 0 6px 0 #96a09f, 0 7px 0 #939e9d, 0 0 4px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.3); }
.container > header h1 span { display: block; position: relative; top: 40px; color: rgba(0, 0, 0, 0.6); font-size: 20px; font-weight: 400; text-shadow: none; letter-spacing: 2px; }

.main > p { text-align: center; padding: 50px 20px; }
.main > p a { vertical-align: middle; }

.top-banner { line-height: 24px; font-size: 11px; background: #fff; text-transform: uppercase; z-index: 9999; position: relative; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.top-banner a { padding: 0px 10px; letter-spacing: 1px; color: rgba(0, 0, 0, 0.6); display: inline-block; }
.top-banner a:hover { color: rgba(0, 0, 0, 0.9); }
.top-banner span.right { float: right; }
.top-banner span.right a { float: left; display: block; }

.og-grid { list-style: none; padding: 20px 0; margin: 0 auto; text-align: center; width: 100%; }
.og-grid li { display: inline-block; margin: 10px 5px 0 5px; vertical-align: top; height: 250px; }
.og-grid li > a { border: none; outline: none; display: block; position: relative; }
.og-grid li > a > .image { width: 250px; height: 250px; z-index: 0; }
.og-grid li > a > .overlay { position: absolute; width: 250px; height: 250px; padding-top: 107px; color: #FFF; font-size: 20px; font-weight: 400; text-transform: uppercase; z-index: 1; transition: 0.5s all ease; }
.og-grid li > a > .overlay:hover { background: #9cb8b3; border: solid 6px #FFF; opacity: 0.8; }
.og-grid li > a img { border: none; outline: none; display: block; position: relative; }
.og-grid li.about .overlay:hover::after { content: "about"; }
.og-grid li.quote .overlay:hover::after { content: "featured article"; }
.og-grid li.chapters .overlay:hover::after { content: "chapters"; }
.og-grid li.ebook .overlay:hover::after { content: "e-book"; }
.og-grid li.contact .overlay:hover::after { content: "contact"; }
.og-grid li.og-expanded > a::after { top: auto; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-bottom-color: #FFF; border-width: 15px; left: 50%; margin: -20px 0 0 -15px; }

.og-expander { position: absolute; background: #FFF; top: auto; left: 0; width: 100%; margin-top: 10px; text-align: left; height: 0; overflow: hidden; }

.og-expander-inner { padding: 50px 30px; height: 100%; }

.og-close { position: absolute; width: 40px; height: 40px; top: 20px; right: 20px; cursor: pointer; }
.og-close::before { content: ''; position: absolute; width: 100%; top: 50%; height: 1px; background: #9cb8b3; opacity: 0.8; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }
.og-close::after { content: ''; position: absolute; width: 100%; top: 50%; height: 1px; background: #9cb8b3; opacity: 0.8; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.og-close:hover::before, .og-close:hover::after { opacity: 1; }

.og-fullimg { width: 50%; float: left; height: 100%; overflow: hidden; position: relative; }

.og-details { width: 50%; float: left; height: 100%; overflow: hidden; position: relative; padding: 0 40px 0 20px; }

.og-fullimg { text-align: center; }
.og-fullimg img { display: inline-block; max-height: 100%; max-width: 100%; }

.og-details h3 { font-weight: 300; font-size: 52px; padding: 40px 0 10px; margin-bottom: 10px; }
.og-details p { font-weight: 400; font-size: 16px; line-height: 22px; color: rgba(0, 0, 0, 0.6); }
.og-details a { font-weight: 700; font-size: 16px; color: #9cb8b3; text-transform: uppercase; letter-spacing: 2px; padding: 10px 20px; border: 3px solid #9cb8b3; display: inline-block; margin: 30px 0 0; outline: none; opacity: 0.8; }
.og-details a::before { content: '\2192'; display: inline-block; margin-right: 10px; }
.og-details a:hover { opacity: 1; }

.og-loading { width: 20px; height: 20px; border-radius: 50%; background: #ddd; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -25px; -webkit-animation: loader 0.5s infinite ease-in-out both; -moz-animation: loader 0.5s infinite ease-in-out both; animation: loader 0.5s infinite ease-in-out both; }

@-webkit-keyframes loader { 0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc; } }

@-moz-keyframes loader { 0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc; } }

@keyframes loader { 0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc; } }

@media screen and (max-width: 830px) { .og-expander h3 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; } }
@media screen and (max-width: 650px) { .og-fullimg { display: none; }
  .og-details { float: none; width: 100%; } }
@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@-moz-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

.fade-in { opacity: 0; -webkit-animation: fadeIn ease-in 0.8; -moz-animation: fadeIn ease-in 0.8; animation: fadeIn ease-in 0.8; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: 0.8s; -moz-animation-duration: 0.8s; animation-duration: 0.8s; }
.fade-in.one { -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; }
.fade-in.two { -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s; }
.fade-in.three { -webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s; animation-delay: 1.1s; }
.fade-in.four { -webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s; animation-delay: 1.4s; }
.fade-in.five { -webkit-animation-delay: 1.7s; -moz-animation-delay: 1.7s; animation-delay: 1.7s; }
