html, body {
  height: 100%;
}

body {
  background-color: $lighter-gray;
}

a {
  color: $light-gray;
  text-decoration: none;
  @include transition(color 0.4s ease 0s);
  &:hover, &:focus {
    color: $light-blue;
  }
}

.nav-pills {
  > li {
    > a {
      border-radius: 0;
      text-transform: uppercase;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
  > .active {
    > a {
      background-color: transparent;
      color: $light-blue;
      &:hover, &:focus {
        background-color: transparent;
        color: $light-blue;
      }
    }
  }
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
  background-color: transparent;
  border: none;
  color: $light-blue;
}

.dropdown-menu > li > a {
  clear: both;
  color: $light-gray;
  display: block;
  font-weight: normal;
  line-height: 20px;
  padding: 3px 20px;
  white-space: nowrap;
  &:hover, &:focus {
    background-color: $light-blue;
    background-image: none;
    color: $white;
  }
}

.dropdown-menu > .active > a {
  background-color: $light-blue;
  background-image: none;
  color: $white;
  &:hover, &:focus {
    background-color: $light-blue;
    background-image: none;
    color: $white;
  }
}

.nav .dropdown-toggle {
  & .caret {
    border-bottom-color: $light-blue;
    border-top-color: $light-blue;
  }
  &:hover .caret, &:focus .caret {
    border-bottom-color: $light-blue;
    border-top-color: $light-blue;
  }
}

.nav .active .dropdown-toggle .caret {
  border-bottom-color: $light-blue;
  border-top-color: $light-blue;
}

#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}

.content-container {
  padding: 5% 10%;
  background-color: $lighter-gray;
}

.tab-content {
  background-color: $lighter-gray;
}

#footer {
  background-color: $gray;
}