html, body {
  height: 100%;
}

body {
  background-color: $beige;
}

a {
  color: $light-gray;
  text-decoration: none;
  @include transition(color 0.4s ease 0s);
  &:hover, &:focus {
    color: $green;
  }
}

#wrap {
  height: auto !important;
  margin: 0 auto -140px;
  min-height: 100%;
}

.nav-pills {
  > li {
    > a {
      border-radius: 0;
      text-transform: uppercase;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
  > .active {
    > a {
      background-color: transparent;
      color: $green;
      &:hover, &:focus {
        background-color: transparent;
        color: $green;
      }
    }
  }
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
  background-color: transparent;
  border: none;
  color: $green;
}

.dropdown-menu > li > a {
  clear: both;
  color: $light-gray;
  display: block;
  font-weight: normal;
  line-height: 20px;
  padding: 3px 20px;
  white-space: nowrap;
  &:hover, &:focus {
    background-color: $green;
    background-image: none;
    color: $white;
  }
}

.dropdown-menu > .active > a {
  background-color: $green;
  background-image: none;
  color: $white;
  &:hover, &:focus {
    background-color: $green;
    background-image: none;
    color: $white;
  }
}

.nav .dropdown-toggle {
  & .caret {
    border-bottom-color: $light-gray;
    border-top-color: $light-gray;
  }
  &:hover .caret, &:focus .caret {
    border-bottom-color: $green;
    border-top-color: $green;
  }
}

.nav .active .dropdown-toggle .caret {
  border-bottom-color: $green;
  border-top-color: $green;
}

.content-container {
  background: url('../img/vines-content.png') no-repeat 20px bottom transparent;
  background-color: $beige;
  min-height: 700px;
  padding: 2% 10% 2% 22%;
}

.tab-content {
  background-color: transparent;
}

//#footer {
//  background-color: $gray;
//}