body {
  background-color: $gray;
}

a {
  color: $light-gray;
  text-decoration: none;
  &:hover, &:focus {
    color: $light-blue;
  }
}

.nav-pills {
  > li {
    > a {
      border-radius: 0;
      text-transform: uppercase;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
  > .active {
    > a {
      background-color: transparent;
      color: $light-blue;
      &:hover, &:focus {
        background-color: transparent;
        color: $light-blue;
      }
    }
  }
}

.tab-content {
  background-color: $light-gray;
}