.left {
  float: left;
}

.right {
  float: right;
}

.header-bar {
  background-color: $white;
  border-top: 15px solid $gray;
  > .title {
    margin-left: 0;
  }
}

.container.header {
  padding: $space*6 $space*6 $space*8;
  > .main-navigation {
    position: relative;
    top: $space*7;
    margin: $space*2 0 $space*4;
  }
}

li.heading   {
  padding: 0 $space;
}