body {
  color: $gray;
}

h1 {
  font: bold 43px/1.2em $font-family-noticia;
  margin: 0;
}

h2 {
  font: 17px/1.2em $font-family-noticia;
}

h3 {
  font: bold 12px/1.2em $font-family-noticia;
}

p {
  font: 12px/1.2em $font-family-openSans;
}
