$space: 5px;

$font-family-noticia: 'Noticia Text', serif;
$font-family-openSans: 'Open Sans', sans-serif;

$white: #FFFFFF;
$gray: #606060;
$light-gray: #C3BFBE;
$lighter-gray: #EAE5E5;
$light-blue: #61CFD3;