$space: 5px;

$font-family-noticia: 'Noticia Text', serif;
$font-family-openSans: 'Open Sans', sans-serif;

$white: #FFFFFF;
$gray: #372B2E;
$light-gray: #C3BFBE;
$beige: #D9D0AC;
$green: #6B8F0B;
$blue: #6EA49B;