/* Navigation Settings */
nav {
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 999;
	background: #fff;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0,0,0,0.8);
    opacity: 0.95;
}

nav ul {
    margin-bottom: 0;
}

nav li {
	display: inline-block;
	padding: 6px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}