.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
    > a {
      border: none;
      outline: none;
      display: block;
      position: relative;
      > .image {
        width: 250px;
        height: 250px;
        z-index:0;
      }
      > .overlay {
        position: absolute;
        background: transparent;
        width: 250px;
        height: 250px;
        padding-top: 107px;
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        z-index:1;
        &:hover {
          background: #9cb8b3;
          border: solid 6px #FFF;
          opacity: 0.8;
          -webkit-transition: background 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
          -moz-transition: background 1s ease-out;  /* Firefox 4-15 */
          -o-transition: background 1s ease-out;  /* Opera 10.50–12.00 */
          transition: background 1s ease-out;
        }
      }
      img {
        border: none;
        outline: none;
        display: block;
        position: relative;
      }
    }
    &.about .overlay:hover::after {
      content: "about";
    }
    &.quote .overlay:hover::after {
      content: "featured article";
    }
    &.chapters .overlay:hover::after {
      content: "chapters";
    }
    &.ebook .overlay:hover::after {
      content: "e-book";
    }
    &.contact .overlay:hover::after {
      content: "contact";
    }
    &.og-expanded > a::after {
      top: auto;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #FFF;
      border-width: 15px;
      left: 50%;
      margin: -20px 0 0 -15px;
    }
  }
}

.og-expander {
  position: absolute;
  background: #FFF;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #9cb8b3;
    opacity: 0.8;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #9cb8b3;
    opacity: 0.8;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:hover {
    &::before, &::after {
      opacity: 1;
    }
  }
}

.og-fullimg {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 40px 0 20px;
}

.og-fullimg {
  text-align: center;
  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
}

.og-details {
  h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
  }
  a {
    font-weight: 700;
    font-size: 16px;
    color: #9cb8b3;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #9cb8b3;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
    opacity: 0.8;
    &::before {
      content: '\2192';
      display: inline-block;
      margin-right: 10px;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}


@-moz-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}


@keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}


@media screen and (max-width: 830px) {
  .og-expander {
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 13px;
    }
    a {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 650px) {
  .og-fullimg {
    display: none;
  }
  .og-details {
    float: none;
    width: 100%;
  }
}